* {
  padding: 0;
  margin: 0;
}

@font-face{
  font-family:Whitney;
  font-weight:300;
  src:url(../assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:400;
  src:url(../assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:500;
  src:url(../assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:600;
  src:url(../assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:700;
  src:url(../assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:300;
  src:url(../assets/148d0f25ba9c02a9190be23e882c7f87.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:400;
  src:url(../assets/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:500;
  src:url(../assets/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:600;
  src:url(../assets/88055567e3d928bcb1e67e967081572e.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:700;
  src:url(../assets/746a4f241e03deffc59b08c5650cf458.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:300;
  font-style:italic;
  src:url(../assets/26ec135289ee1c4e5439e30fa7d771b0.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:400;
  font-style:italic;
  src:url(../assets/7a504226cbb79a1a6990a72266007030.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:500;
  font-style:italic;
  src:url(../assets/7a504226cbb79a1a6990a72266007030.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:600;
  font-style:italic;
  src:url(../assets/4ea3faef5f6c0c74eb4d5e1a4a5de0b4.woff) format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:700;
  font-style:italic;
  src:url(../assets/09788e4fa057f2e0067e13209e56c8a7.woff) format("woff")
}
@font-face{
  font-family:Ginto Nord;
  font-weight:500;
  src:url(../assets/64f5045e7c47202da327cadef3c611d1.woff2) format("woff2"),url(../assets/e4308d367bcb6c91660d8618148e307d.woff) format("woff")
}
@font-face{
  font-family:Ginto Nord;
  font-weight:600;
  src:url(../assets/37342aa4e66eb4137df0c8921e3853f0.woff2) format("woff2"),url(../assets/9d099dc8ec6264f00561648293f3d4b9.woff) format("woff")
}
@font-face{
  font-family:Ginto Nord;
  font-weight:700;
  src:url(../assets/ae7c84783ad48b6d1c8e2bfbe707e0d4.woff2) format("woff2"),url(../assets/92e32db984c8577d8b81548b43b9c061.woff) format("woff")
}
@font-face{
  font-family:Ginto Normal;
  font-weight:400;
  src:url(../assets/57e5e55cf0143736ceab51ac0a9ebb54.woff2) format("woff2"),url(../assets/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff")
}
@font-face{
  font-family:Ginto Normal;
  font-weight:500;
  src:url(../assets/e215f61cbbc2e49cea6121e0d2679aa2.woff2) format("woff2"),url(../assets/88055567e3d928bcb1e67e967081572e.woff) format("woff")
}
@font-face{
  font-family:Ginto Normal;
  font-weight:700;
  src:url(../assets/1cce82154216dc3cb04a84d011ce1201.woff2) format("woff2"),url(../assets/746a4f241e03deffc59b08c5650cf458.woff) format("woff")
}

:root {
  --gradient-1: #728ADA;
  --gradient-2: #8DA0E1;
}

body {
  font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero_section {
  background-image: linear-gradient(to left, var(--gradient-1), var(--gradient-2));
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 700px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.buttons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.buttons li {
  list-style: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
}

.buttons li:hover {
  text-decoration: underline;
}

.login-btn {
  font-weight: normal !important;
  color: black !important;
  background-color: white;
  border-radius: 40px;
  padding: 10px 16px;
  list-style: none;
  font-size: 13px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.login-btn:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, .4);
  color: var(--gradient-1) !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.heroWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.info h1 {
  font-size: 56px;
  color: white;
  font-weight: bolder;
  font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.info p {
  color: white;
  line-height: 20px;
  /* letter-spacing: 0.3px; */
  font-size: 18px;
  margin-top: 30px;
  max-width: 500px;
}

.info button {
  cursor: pointer;
  border: none;
  color: black;
  background-color: white;
  padding: 20px 35px;
  font-size: 14px;
  /* font-weight: 600; */
  border-radius: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.info button:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, .4);
  color: var(--gradient-1) !important;
}

.image {
  width: 100%;
  min-width: 550px;
  max-width: 600px;
  min-height: 600px;
}

@media screen and (max-width: 1150px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info h1 {
    text-align: center;
  }
  .info p {
    text-align: center;
    max-width: 100%;
  }
  .image {
    display: none;
  }
}

.image img {
  width: 100%;
  min-height: 600px;
}

footer {
  background-color: #23272a;
  padding-top: 80px;
  padding-bottom: 64px;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer div {
  width: 100%;
  max-width: 1260px;
  /* box-sizing: border-box; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 20px;
  padding: 0 40px;
}

@media screen and (max-width: 1150px) {
  footer div {
    width: 100%;
    max-width: 1260px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0 20px;
    padding: 0 40px;
  }
}

.infoBox {
  display: flex;
  grid-column: span 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .infoBox {
    grid-column: span 3;
    grid-row-end: span 2;
  }
}

.infoBox h4 {
  color: #5865f2;
  font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 800;
  line-height: 95%;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  font-size: 32px;
}

.social {
  margin-top: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.spacer {
  display: flex;
  grid-column: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .spacer {
    display: flex;
    grid-column: span 1;
    grid-row-end: span 2;
    display: initial;
  }
}

.routeSection {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  margin-bottom: 40px;
}

.routeSection a:hover span {
  text-decoration: underline;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  grid-column: span 12;
}

.ctaSeparator {
  background-color: #5865f2;
  width: 100%;
  height: 1px;
  margin-bottom: 32px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-mobile {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 1149px) {
  .logo {
    flex: 2;
  }
  .login-btn {
    margin-right: 20px;
  }
  .buttons {
    display: none;
  }
}

@media screen and (min-width: 1150px) {
  .menu-mobile {
    display: none;
  }
}

.menu-mobile-popup {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  width: 280px;
  height: 92.5%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.menu-mobile-popup .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.menu-buttons ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-buttons li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.menu-buttons li:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .info h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 600px) {
  .info h1 {
    font-size: 36px;
  }
  .info p {
    font-size: 16px;
  } 
}

@media screen and (max-width: 575px) {
  footer div {
    grid-template-columns: repeat(1, 1fr);
  }
  .infoBox {
    text-align: center;
  }
  .infoBox .social {
    align-items: center;
    justify-content: center;
  }
}